
<nav>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Github Profile Lookup
        </h1>
        <h2 class="subtitle">
          Built with Angular CLI and Bulma.io
        </h2>
      </div>
    </div>
  </section>
</nav>


<div class="section">


    <div class="container is-fluid">
     <div class="content">
       <h1>
         Welcome to {{title}}!
       </h1>
       <app-profile>App profile loading</app-profile>
     </div>

    </div>



</div>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Github Profile Lookup</strong> by <a href="http://jgthms.com">Yesh</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>
