<div class="field">
  <div class="control">
    <input type="text" class="input" placeholder=" Enter a github username .. " [(ngModel)]="username" (keyup)="searchUser()" name="searchbox" >

  </div>
</div>


<div *ngIf="user">
  <div class="section">
    <div class="panel">
      <h3 class="panel-heading"> {{ user.name }}</h3>

        <div class="panel-block">
            <div class="column is-one-thirds">
              <img src="{{ user.avatar_url }}" alt="Avatar" class="profile-img img-thumbnail">
              <a href="{{ user.html_url }}" class="button is-dark has-text-centered" target="_blank"> <span class="icon"> <i class="fa fa-github"></i></span>  &nbsp; Github Profile</a>

            </div>
          <div class="column is-two-thirds ">
            <div class="stats">
              <span class="tag is-primary"> {{ user.public_repos }} Public Repos </span>
              <span class="tag is-success"> {{ user.public_gists }} Public Gists </span>
              <span class="tag is-info"> {{ user.followers }} Followers </span>
              <span class="tag is-warning"> {{ user.following }} Following </span>
            </div>
            <br>
            <table>
              <tr ><strong>Username: </strong> {{ user.login }} </tr>
              <tr class="list-group-item"><strong>Location: </strong> {{ user.location }} </tr>
              <tr class="list-group-item"><strong>Email: </strong> {{ user.email }} </tr>
              <tr class="list-group-item"><strong>Blog: </strong> {{ user.blog }} </tr>
              <tr class="list-group-item"><strong>Member Since: </strong> {{ user.created_at }} </tr>
            </table>
          </div>
        </div>
    </div>

  </div>

  <div class="section">
    <div class="panel">
      <h3 class="panel-heading"> Repositories </h3>
    </div>
    <div *ngFor="let repo of repos">
    <div class="panel-block">

        <div class="columns">

          <div class="column is-three-quarters">
            <div class="container">
              <h5><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }} </a></h5>
              <p>{{ repo.description }}</p>
            </div>

          </div>
          <div class="column">

            <span class="tag is-info"> {{ repo.watchers }} Watchers</span>
            <br>
            <span class="tag is-success"> {{ repo.forks }} Forks</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
